body {
    background-color: black;
    color: white;
}

/* .navbar {
    background-color: skyblue !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
} */

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
